# Activation du module de réécriture d'URL :
RewriteEngine on
# RewriteBase "/.../"

#--------------------------------------------------
# ROUTE DES USERS
# --------------------------------------------------
    # DECONNEXION
    # PATTERN: /users/logout
    # TARGET: ?users=logout
    RewriteRule ^users\/logout$ index.php?users=logout [L]

    # LISTE DES USERS
    # PATTERN: /users
    # TARGET: ?users=index
    RewriteRule ^users$ index.php?users=index [L]

    # AJOUT DE USERS: FORMULAIRE
    # PATTERN: /users/add/form
    # TARGET: ?users=addForm
    RewriteRule ^users\/add\/form$ index.php?users=addForm [L]

    # INSERTION DE USERS: INSERT
    # PATTERN: /users/add/insert
    # TARGET: ?users=add
    RewriteRule ^users\/add\/insert$ index.php?users=add [L]

    # SUPPRESSION DE USERS
    # PATTERN: /users/delete/x
    # TARGET: ?users=delete&id=x
    RewriteRule ^users\/delete\/([1-9][0-9]*)$ index.php?users=delete&id=$1 [L]

    # MODIFICATION DE USERS: FORMULAIRE
    # PATTERN: /users/edit/form/x
    # TARGET: ?users=editForm&id=x
    RewriteRule ^users\/edit\/form\/([1-9][0-9]*)$ index.php?users=editForm&id=$1 [L]

    # MODIFICATION DE USERS: UPDATE
    # PATTERN: /users/edit
    # TARGET: ?users=edit
    RewriteRule ^users\/edit$ index.php?users=edit [L]

#--------------------------------------------------
# ROUTE DES RECETTES
# --------------------------------------------------
    # LISTE DES RECETTES
    # PATTERN: /recipes
    # TARGET: ?recipes=index
    RewriteRule ^recipes$ index.php?recipes=index [L]

    # AJOUT DE RECETTES
    # PATTERN: /recipes/add/form
    # TARGET: ?recipes=addForm
    RewriteRule ^recipes\/add\/form$ index.php?recipes=addForm [L]

    # INSERTION DE RECETTES
    # PATTERN: /recipes
    # TARGET: ?recipes=index
    RewriteRule ^recipes\/add\/insert$ index.php?recipes=add [L]

    # SUPPRESSION DE RECETTES
    # PATTERN: /recipes/delete/x
    # TARGET: ?recipes=delete&id=x
    RewriteRule ^recipes\/delete\/([1-9][0-9]*)$ index.php?recipes=delete&id=$1 [L]

    # MODIFICATION DE RECETTE: FORMULAIRE
    # PATTERN: /recipes/edit/form/x
    # TARGET: ?recipes=editForm&id=x
    RewriteRule ^recipes\/edit\/form\/([1-9][0-9]*)$ index.php?recipes=editForm&id=$1 [L]

    # MODIFICATION DE RECETTE: UPDATE
    # PATTERN: /recipes/edit/x
    # TARGET: ?recipes=edit&id=x
    RewriteRule ^recipes\/edit\/([1-9][0-9]*)$ index.php?recipes=edit&id=$1 [L]

#--------------------------------------------------
# ROUTE DES CATEGORIES
# --------------------------------------------------
    # LISTE DES CATEGORIES
    # PATTERN: /categories
    # TARGET: ?categories=index
    RewriteRule ^categories$ index.php?categories=index [L]

#--------------------------------------------------
# ROUTE DES INGREDIENTS
# --------------------------------------------------
    # LISTE DES INGREDIENTS
    # PATTERN: /ingredients
    # TARGET: ?ingredients=index
    RewriteRule ^ingredients$ index.php?ingredients=index [L]


# ROUTE PAR DEFAUT
# PATTERN: /
# URL: /index.php
# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
